<div class="soundboardadv">
    <div class="playlist-ctn">
        <h2>Moods</h2>
        <button class="mood-control" data-type="mood" data-action="new">
            <i class="fas fa-plus"></i> Add Mood</button>
        <br />
        <br />
        {{#each moods}}

        <div class="playlist-track-ctn {{#if (eq this.id ../activeMood)}} active {{else}}disabled {{/if}}"
            data-mood-id="{{ this.id }}" data-index="0">

            <div class="playlist-btn-play">
                {{#if (eq this.status "playing")}}
                <a style="z-index: 99999 !important;" class="mood-control fa-solid fa-stop soundboardfas"
                    data-action="stop" height="40" width="40" data-tooltip="PLAYLIST.SoundStop"
                    data-mood-id="{{ this.id }}" data-soundboard-id="{{ ../id}}"></a>
                </a>
                {{else}}
                <a style="z-index: 99999 !important;" class="mood-control fa-solid fa-play soundboardfas"
                    data-action="play" height="40" width="40" data-tooltip="PLAYLIST.SoundPlay"
                    data-mood-id="{{ this.id }}" data-soundboard-name="{{ ../id}}"></a>
                </a>
                {{/if}}
            </div>

            <div class="mood-control playlist-info-track " data-mood-id="{{ this.id }}" data-action="view-mood">
                <a data-mood-id="{{ this.id }}">{{ this.name}}</a>
            </div>
            {{#unless (eq this.status "playing")}}
            <div class="playlist-btn-play">
                <a data-mood-id="{{ this.id }}" style="z-index: 99999 !important;" data-action="change-name"
                    class="mood-control fa-light fa-pen-to-square soundboardfas">
                </a>
            </div>
            {{/unless}}
            <div class="playlist-btn-play">
                {{#if (eq this.status "playing")}}
                <div id="sound-bars">
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                    <div class="sound-bar playing-bar"></div>
                </div>
                {{else}}
                <div style="">
                    <a style="z-index: 99999 !important; " class="mood-control fa-solid fa-trash soundboardfas"
                        data-action="delete" height="20" width="20" data-tooltip="Delete Mood"
                        data-mood-id="{{ this.id }}" data-soundboard-id="{{ ../id}}"></a>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
        <br />
        <button class="mood-control" data-type="mood" data-action="save">
            <i class="fa fa-floppy-disk"></i> Save Soundscape</button>

    </div>
    <div class="mood-general-config"> &nbsp;
        <span class="sound-control" data-action="hidde-sound"
            data-tooltip="Hide sounds that are not active/playing" style="font-size: 14px; vertical-align: middle;">
            {{#if off_visible}}
            <i class="fa-solid fa-eye-slash"></i>
            {{else}}
            <i class="fa-solid fa-eye"></i>
            {{/if}}
        </span>
        
    </div>
    {{#each moods}}
    <div class="soundboardadv-main {{#if (eq this.id ../activeMood)}} mood-active {{/if}}" data-mood-id="{{ this.id }}">

        {{#forSoundType }}
        <h2>{{ this.title }}</h2>
        <div id="{{ this.title }}" class="soundscapeadv-container">
            {{#eachSoundType ../this.sounds this.code }}
            <div class="soundscapeadv-element {{ this.status }}  {{#if (and (eq this.status "off") ../../../off_visible) }} hidden {{/if}}">
                <h3>
                    {{shortenString this.name }}
                    &nbsp;<i data-action="edit-sound" data-tooltip="{{ this.name }}" data-mood-id="{{ ../../id }}"
                        data-sound-id="{{ this.id }}" data-group="{{ this.group }}"
                        class="sound-control fa-light fa-pen-to-square"></i>
                </h3>
                <div class="soundscapeadv-slider-container">
                    <div class="soundscapeadv-slider-label">
                        <span>Volume</span>
                        <span id="volume-value-1">{{volumeUI this.volume }}</span>
                    </div>
                    <input type="range" min="0" max="1" step="0.05" value="{{this.volume }}"
                        class="sound-control  soundscapeadv-slider" data-mood-id="{{  ../../id }}"
                        data-id="{{ this.id }}" data-action="volume">
                </div>
                {{#if (eq this.type 4)}}
                <div class="soundscapeadv-slider-container">
                    <div class="soundscapeadv-slider-label">
                        <span>Intensity</span>
                        <span id="intensity-value-1">{{this.intensity }}</span>
                    </div>
                    <input type="range" min="0" max="100" step="5" value="{{this.intensity }}"
                        class="sound-control  soundscapeadv-slider" id="intensity-slider-1"
                        data-mood-id="{{  ../../id }}" data-id="{{ this.id }}" data-action="intensity"
                        data-group="{{ this.group }}">
                </div>
                {{/if}}

                <div class="extra_btn_div">
                     {{#if (or (eq this.type 6) (eq this.type 3)) }}
                        {{#isPlaying this.id ../../../soundscapeId ../../id }}
                        <span role=" stop" class="sound-control soundpad-play" data-action="play"
                                data-sound-id="{{ this.id }}" data-mood-id="{{ ../../id }}">
                            <i class="fa-solid fa-stop icon-rounded"></i>
                        </span>
                        {{else}}
                        <span role="play" class="sound-control soundpad-play" data-action="play"
                            data-sound-id="{{ this.id }}" data-mood-id="{{ ../../id }}">
                            <i class="fa-solid fa-play icon-rounded"></i>
                        </span>
                        {{/isPlaying}}
                        
                    {{/if}}

                    {{#unless (or (eq this.type 6) (eq this.type 3)) }}
                    <span role="enable" class="sound-control soundpad-play" data-action="enable"
                            data-sound-id="{{ this.id }}" data-mood-id="{{ ../../id }}">
                        {{#if (eq this.status "on")}}
                        <i class="fa-solid fa-microphone icon-rounded"></i>
                        {{else}}
                        <i class="fa-solid fa-microphone-slash icon-rounded"></i>
                        {{/if}}
                    </span>
                    {{/unless}}
                </div>
            </div>
            {{/eachSoundType}}
        </div>
        {{/forSoundType }}
    </div>
    {{/each}}
</div>