<div class="soundboardadv">
    <div class="playlist-ctn">
        {{#each moods}}
         {{#if (eq this.name ../activeMood)}}
            <div class="playlist-track-ctn active" data-mood-name="{{ this.name }}" data-index="0">
        {{else}}
            <div class="playlist-track-ctn disabled" data-mood-name="{{ this.name }}" data-index="0">
        {{/if}}
            <div class="playlist-btn-play">
                {{#if (eq this.status 'playing')}}
                    <a style="z-index: 99999 !important;" class="mood-control fa-solid fa-stop soundboardfas" data-action="stop" height="40" width="40" 
                            data-tooltip="PLAYLIST.SoundCreate" data-mood-name="{{ this.name }}" data-soundboard-name="{{ ../name}}"></a>
                    </a>
                {{else}}
                    <a style="z-index: 99999 !important;" class="mood-control fa-solid fa-play soundboardfas" data-action="play" height="40" width="40" 
                            data-tooltip="PLAYLIST.SoundCreate" data-mood-name="{{ this.name }}" data-soundboard-name="{{ ../name}}"></a>
                    </a>
                {{/if}}
            </div>
            <div class="playlist-info-track " data-mood-name="{{ this.name }}" >
                <a data-mood-name="{{ this.name }}" data-action="view-mood" class="mood-control">Mood - {{ this.name }}</a>
            </div>
            <div class="playlist-btn-play">
                <a class="mood-control fa-solid fa-floppy-disk soundboardfas" data-action="save" height="40" width="40" 
                    data-tooltip="Save Mood" data-mood-name="{{ this.name }}" data-soundboard-name="{{ ../name}}"></a>
                </a>
            </div>
        </div>
        {{/each}}
        <button class="mood-control" data-type="mood" data-action="new">Add Mood</button>
    </div>
     {{#each moods}}        
        {{#if (eq this.name ../activeMood)}}
            <div class="soundboardadv-main mood-active" data-mood-name="{{ this.name }}">
        {{else}}
            <div class="soundboardadv-main" data-mood-name="{{ this.name }}">
        {{/if}}
            {{#forSoundType }}
                <div class="sound-div" id="{{ this.name }}">
                    <h2 class="sound-title">{{ this.title }}</h2>
                    <div class="sound-grid">
                        {{#eachSoundType ../this.sounds  this.code }}
                        <div class="ad-sound-container {{this.status}}">
                            <div class="ad-sound-content action-sound" data-soundboard-name="{{ ../../../name }}" data-mood-name="{{ ../../name }}" data-path="{{ this.path }}" data-sound-id="{{ this._id }}" data-action="{{opositeAction this.status}}"
                            sound-type="{{ this.code }}" data-group="{{ this.group }}" data-type="{{ ../this.title}}">
                                <div id="sound-bars">
                                    {{#if (soundStatus ../../this.status this.status) }}
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                        <div class="sound-bar playing-bar"></div>
                                    {{else}}
                                        {{#if (eq this.group '')}}
                                            <i class="fa-solid fa-play fa-2x"></i>
                                        {{else}}
                                            <i class="fa-solid fa-list-music fa-2x"></i>
                                        {{/if}}
                                    {{/if}}
                                </div>
                                <div data-tooltip="{{ this.name }}" class="ad-sound-name">{{shortenString this.name }}</div>
                            </div>
                            <div class="ad-sound-sliders">
                                <div class="ad-sound-slider-container">
                                    <div class="ad-sound-slider-icon"><i class="fa-solid fa-volume"></i></div>
                                    <input type="range" orient="vertical" class="action-sound ad-sound-slider" min="0" max="1" step="0.05" value="{{this.volume }}" data-mood-name="{{  ../../name }}" data-path="{{ this.path }}" data-id="{{ this._id }}"
                        data-action="volume">
                                </div>
                                {{#if (eq this.type 4)}}
                                <div class="ad-sound-slider-container">
                                    <div class="ad-sound-slider-icon"><i class="fa-solid fa-dial-min"></i></div>
                                    <input type="range" orient="vertical" class=" action-sound ad-sound-slider" min="0" max="100" step="5" value="{{this.intensity }}" data-mood-name="{{  ../../name }}" data-path="{{ this.path }}" data-id="{{ this._id }}"
                        data-action="intensity" data-group="{{ this.group }}">
                                </div>
                                {{/if}}
                            </div>
                        <!-- END SOUND CONTAINER -->
                        </div>
                        {{/eachSoundType}}
                    </div>
                </div>
            {{/forSoundType}}
        </div>
    {{/each}}
</div>